body {
	margin: 0px; padding: 0px; background: rgb(222, 222, 222);
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
egend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
ul {
	list-style: none;
}
ol {
	padding-left: 20px;
}
img {
	border: 0px currentColor; border-image: none;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
abbr[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
button {
	font-size: 100%;
}
input {
	font-size: 100%;
}
select {
	font-size: 100%;
}
textarea {
	font-size: 100%;
}
hr {
	border: currentColor; border-image: none; height: 1px;
}
body {
	font: 12px Tahoma, "Microsoft Yahei", "Simsun"; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 12px Tahoma, "Microsoft Yahei", "Simsun"; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 12px Tahoma, "Microsoft Yahei", "Simsun"; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 12px Tahoma, "Microsoft Yahei", "Simsun"; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 12px Tahoma, "Microsoft Yahei", "Simsun"; font-size-adjust: none; font-stretch: normal;
}
html {
	font: 12px/1.5 "Microsoft YaHei", Tahoma, Verdana, "Simsun"; color: rgb(34, 34, 34); font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: none;
}
body {
	font: 12px/1.5 "Microsoft YaHei", Tahoma, Verdana, "Simsun"; color: rgb(34, 34, 34); font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: none;
}
img {
	border: currentColor; border-image: none;
}
a {
	color: rgb(28, 87, 196); text-decoration: underline;
}
a:hover {
	color: rgb(28, 87, 196);
}
input.text {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153) rgb(238, 238, 238) rgb(238, 238, 238) rgb(153, 153, 153); padding: 1px; border-image: none; height: 22px; color: rgb(51, 51, 51); line-height: 22px; vertical-align: middle;
}
textarea.textarea {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153) rgb(238, 238, 238) rgb(238, 238, 238) rgb(153, 153, 153); padding: 1px; border-image: none; height: 22px; color: rgb(51, 51, 51); line-height: 22px; vertical-align: middle;
}
textarea.textarea {
	height: 50px; line-height: 1.5;
}
input.anytext {
	background: rgb(255, 255, 255); padding: 1px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 16px; color: rgb(51, 51, 51); line-height: 16px; vertical-align: middle;
}
input.submit {
	padding: 0px 20px; height: 28px; line-height: 20px; font-size: 12px;
}
select {
	color: rgb(51, 51, 51);
}
.floatl {
	float: left;
}
.floatr {
	float: right;
}
.clear {
	height: 0px; overflow: hidden; clear: both; font-size: 0px;
}
.red {
	color: rgb(255, 0, 0) !important;
}
.blue {
	color: rgb(28, 87, 196) !important;
}
.blues {
	color: rgb(28, 87, 196) !important;
}
.green {
	color: rgb(41, 175, 0) !important;
}
.black {
	color: rgb(51, 51, 51) !important;
}
.j9 {
	color: rgb(153, 153, 153) !important;
}
.must {
	color: rgb(255, 0, 0); margin-right: 5px !important;
}
.none {
	display: none;
}
img.small {
	top: 4px; position: relative;
}
a.tips img {
	top: 4px; position: relative;
}
textarea.js-text {
	background: url("../image/input.gif") no-repeat; padding: 2px 2px 0px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 50%; height: 20px; color: rgb(102, 102, 102); line-height: 20px;
}
span.keylist {
	color: rgb(41, 175, 0);
}
.color_btn {
	color: rgb(28, 87, 196); text-decoration: underline; margin-left: 5px; cursor: pointer;
}
#mbox {
	background: rgb(252, 252, 252); width: 100%;
}
#mbox a {
	color: rgb(0, 0, 0); text-decoration: none;
}
#top {
	background: rgb(30, 113, 177); width: 100%; height: 68px; box-shadow: 0px 1px 2px #999;
}
#top .topnbox {
	margin: 0px auto; width: 1002px; height: 68px; position: relative; z-index: 999;
}
#top .floatl {
	padding: 0px; width: 155px; height: 68px; text-align: center; overflow: hidden;
}
#top .floatl a {
	height: 68px; font-size: 0px; display: block;
}
#top .floatl a img {
	height: 68px; right: 2px; position: relative;
}
#top .floatr {
	width: 100%; height: 68px; margin-left: -155px;
}
#top .floatr .top-r-box {
	height: 68px; margin-left: 155px; position: relative; z-index: 1;
}
#top .floatr .top-right-boxr {
	top: 0px; height: 68px; text-align: right; right: 0px; position: absolute; z-index: 900; _z-index: 10;
}
#top .floatr .top-r-t {
	padding: 3px 0px 0px 8px; text-align: right; color: rgb(219, 239, 255); line-height: 25px; white-space: nowrap;
}
#top .floatr .top-r-t a {
	color: rgb(219, 239, 255);
}
#top .floatr .top-r-t a:hover {
	color: rgb(255, 255, 255);
}
#top .floatr .top-r-t a:hover {
	text-decoration: underline;
}
#top .floatr .top-r-t ol.rnav {
	list-style: none; float: right;
}
#top .floatr .top-r-t li.list {
	height: 26px; line-height: 26px; float: left; position: relative;
}
#top .floatr .top-r-t li.ghome {
	background: rgb(16, 84, 136); border: 1px solid rgb(15, 78, 127); border-image: none; height: 24px; line-height: 24px; margin-left: 10px; cursor: pointer;
}
#top .floatr .top-r-t li.ghome a {
	padding: 0px 10px; display: block;
}
#top .floatr .top-r-t li.ghome a:hover {
	text-decoration: none;
}
#top .floatr .top-r-t li.langli {
	background: rgb(16, 84, 136); padding: 0px 10px; border: 1px solid rgb(15, 78, 127); border-image: none; height: 24px; line-height: 24px; margin-left: 10px; cursor: pointer;
}
#top .floatr .top-r-t li.langli {
	_padding-top: 3px; _height: 21px;
}
#top .floatr .top-r-t li.langli span.title {
	background: url("../image/metcolumn12.gif") no-repeat right; color: rgb(255, 255, 255); padding-right: 10px; display: block;
}
#top .floatr .top-r-t li.langli span.title img {
	top: 2px; padding-right: 5px; position: relative;
}
#top .floatr .top-r-t li.nowt span.title {
	background: url("../image/metcolumn12_t.gif") no-repeat right;
}
#top .floatr .top-r-t li.line {
	width: 14px; text-align: center; color: rgb(90, 142, 183); font-size: 8px; float: left;
}
#addlang {
	background-position: 11px; height: 28px; color: rgb(255, 255, 255); line-height: 28px; padding-left: 31px; background-image: url("../image/jia.png"); background-repeat: no-repeat;
}
.langlist {
	background: rgb(16, 84, 136); top: 24px; right: -1px; color: rgb(219, 239, 255); border-top-color: currentColor; border-top-width: 0px; border-top-style: none; display: none; white-space: nowrap; position: absolute; z-index: 9999; cursor: default; min-width: 150px; _right: -2px;
}
.langlist ol {
	padding: 0px; white-space: nowrap;
}
.langlist p {
	padding: 5px 5px 0px; line-height: 1.5;
}
.langlist li {
	list-style: none; padding: 0px 40px 0px 10px; height: 28px; text-align: left; line-height: 28px; overflow: hidden; font-weight: normal; white-space: nowrap; cursor: pointer;
}
.langlist li span {
	height: 28px; line-height: 28px; display: block; white-space: nowrap; _padding-top: 5px;
}
.langlist li span img {
	top: 2px; padding-right: 5px; position: relative;
}
.langlist li.hv {
	background: rgb(31, 105, 162); color: rgb(255, 255, 255);
}
.langlist li.dlang {
	
}
#top .langtxt .langlist a {
	color: rgb(51, 51, 51);
}
#metinfo_license {
	right: 0px; bottom: 7px; position: absolute;
}
#metinfo_license a:hover {
	text-decoration: none !important;
}
#top .floatr .nav {
	height: 68px; overflow: hidden; float: left;
}
#top .floatr ul {
	height: 68px; overflow: hidden; float: left; position: relative; z-index: 99999;
}
#top .floatr .nav li.list {
	margin: 0px 0px 5px; width: 120px; float: left; display: inline;
}
#top .floatr .nav li a {
	padding: 7px 25px 0px; border: 1px solid rgb(30, 113, 177); border-image: none; height: 68px; text-align: center; color: rgb(255, 255, 255); overflow: hidden; text-decoration: none; display: block; position: relative; text-shadow: 0px -1px rgba(0,0,0,0.2);
}
#top .floatr .nav li a:hover {
	background: rgb(20, 101, 163); border: 1px solid rgb(16, 97, 159); border-image: none;
}
#top .floatr .nav li a.onnav {
	background: rgb(16, 84, 136); border: 1px solid rgb(14, 75, 122); border-image: none;
}
#top .floatr .nav li a.onnav:hover {
	_background: #105488; _border: 1px solid #0e4b7a;
}
#top .floatr .nav li a span {
	margin: 0px auto 3px -16px; left: 50%; width: 32px; height: 30px; right: 50%; overflow: hidden; position: absolute;
}
#top .floatr .nav li p {
	clear: both; margin-top: 35px; _margin-top: 41px;
}
#top .floatr .nav li a span.c1 {
	background: url("../image/n3.png") no-repeat;
}
#top .floatr .nav li a span.c2 {
	background: url("../image/n4.png") no-repeat;
}
#top .floatr .nav li a span.c3 {
	background: url("../image/n5.png") no-repeat;
}
#top .floatr .nav li a span.c4 {
	background: url("../image/n6.png") no-repeat;
}
#top .floatr .nav li a span.c5 {
	background: url("../image/n1.png") no-repeat;
}
#top .floatr .nav li a span.c6 {
	background: url("../image/n6.png") no-repeat;
}
#top .floatr .nav li a span.c7 {
	background: url("../image/n7.png") no-repeat;
}
#top .clicka {
	background: url("../image/libg.gif") no-repeat 0px 0px; color: rgb(255, 255, 255);
}
#top .clickb {
	background: none; color: rgb(74, 154, 179);
}
#mbox {
	margin: 0px auto; padding-bottom: 15px; position: relative; z-index: 1;
}
#content {
	margin: 15px auto 0px; border-radius: 3px; border: 1px solid rgb(211, 211, 211); border-image: none; width: 1000px; box-shadow: 0px 2px 2px 0px #e3e3e3;
}
#content .floatl {
	background: rgb(245, 245, 245); width: 155px; position: relative; z-index: 999;
}
#content .floatl_box {
	padding: 0px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
#content .floatr {
	background: rgb(241, 241, 241); width: 100%; margin-left: -155px;
}
#content .floatr .iframe {
	overflow: hidden; margin-left: 155px; position: relative; z-index: 1; -ms-zoom: 1;
}
.metclse {
	margin-left: 0px !important;
}
#content .floatr .clse {
	width: 8px; overflow: hidden; float: left;
}
#content .floatr .clse img {
	margin-top: 210px; cursor: pointer;
}
#content .floatr .iframe .min {
	margin: 0px; overflow: hidden; position: relative; z-index: 1; -ms-zoom: 1;
}
#content .floatr iframe {
	width: 100%; height: 480px; position: relative; z-index: 1;
}
#loading {
	background: rgb(255, 255, 255); left: 0px; top: 0px; width: 100%; height: 480px; position: absolute;
}
#loading img {
	left: 50%; top: 40%; position: absolute;
}
#loadtxt {
	color: rgb(102, 102, 102); padding-left: 5px; font-weight: normal !important;
}
#content .nav_list {
	background: rgb(243, 243, 243); padding-top: 0px;
}
#content #leftnav {
	
}
* html #content .nav_list {
	height: 400px;
}
#content .nav_list a:hover {
	color: rgb(51, 51, 51); text-decoration: none;
}
#content .nav_list li {
	margin: 0px auto;
}
#content .nav_list li a {
	margin: 0px; height: 42px; color: rgb(34, 34, 34); line-height: 42px; padding-left: 40px; border-top-color: rgb(249, 249, 249); border-bottom-color: rgb(222, 222, 222); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: block; text-shadow: 0px 1px rgba(255,255,255,0.5);
}
#content .nav_list li a:hover {
	background: rgb(237, 237, 237); color: rgb(34, 34, 34); border-top-color: rgb(237, 237, 237);
}
#content .nav_list li a.on {
	background: url("../image/lnav.png") no-repeat 12px rgb(30, 113, 177); color: rgb(255, 255, 255); text-decoration: none; border-top-color: rgb(30, 113, 177); border-bottom-color: rgb(30, 113, 177); position: relative; z-index: 10000; text-shadow: 0px -1px rgba(0,0,0,0.2);
}
#content .nav_list li a.on:hover {
	color: rgb(255, 255, 255); text-decoration: none; _background: #1e71b1 url(../image/lnav.png) no-repeat 12px center; _border-top-color: #1e71b1; _border-bottom-color: #1e71b1;
}
#content .left_footer {
	background: rgb(236, 236, 236); left: 0px; width: 154px; height: 35px; text-align: center; bottom: 0px; color: rgb(34, 34, 34); line-height: 35px; overflow: hidden; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid; position: absolute;
}
#content .left_footer div.left_footer_box {
	border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid;
}
#content .left_footer b {
	font-weight: normal;
}
#content .left_footer a {
	color: rgb(28, 87, 196); font-family: Tahoma,Verdana;
}
#content .left_footer a:hover {
	text-decoration: underline;
}
#content .fast {
	background: rgb(245, 245, 245); overflow: hidden;
}
#content .fast a {
	height: 35px; color: rgb(34, 34, 34); line-height: 35px; padding-left: 40px; border-top-color: rgb(249, 249, 249); border-bottom-color: rgb(222, 222, 222); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: block;
}
#content .fast a:hover {
	background: rgb(237, 237, 237);
}
.footer {
	background: rgb(255, 255, 255); padding: 0px 0px 15px; text-align: center; color: rgb(153, 153, 153);
}
.footer a {
	color: rgb(28, 87, 196); font-weight: normal; text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}
#nav_1_54 {
	
}
.returnover {
	margin: 0px; position: absolute; z-index: 999;
}
.returnover {
	background: rgb(30, 113, 177); padding: 10px 40px; border-radius: 3px; text-align: center; color: rgb(255, 255, 255); font-size: 16px; box-shadow: 0px 1px 2px #999;
}
